body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
	font-size: 16px;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	font-size: 35px;
	line-height: 20px;
	margin: 0;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	line-height: 24px;
	/*font-size: 14px;*/
}
a {
	color: #999;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fff;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}

/* Navigation */
#menu {
	padding: 0px;
	/*transition: all 0.8s;*/
}
#menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0); прозрачный*/
	background-color: #000;
	border-color: rgba(231, 231, 231, 0);
	/*border-color: rgba(0, 0, 0, 0);*/

}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ff9900;
	font-weight: 700;
}
#menu a.navbar-brand i.fa {
	color: #88bb45;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #878d8f;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
.on {
	background-color: #000 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #33ffcc;
	border-color: #1fb9b1;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.nav > li > a {
    position: relative;
    display: block;
     padding: 15px 0; 
}

/* Home Style */
header {
	background: url(../img/header-bg.jpg) no-repeat top center;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
header p {
	color: #222;
	font-size: 18px;
	margin-bottom: 60px;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	padding: 0 4px;
	border-radius : 2px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 50px;
	color: #222;
	font-weight: 300;
}
.h1-color {
	color: #ff9900; 
	font-weight: 700;
	text-shadow: 5px 0 5px #333;
}
.btn-default {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.8);
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #86E2D5;
	color: #fff;
}
/* Hypothec Section */
#hypothec-section {
	padding: 100px 0;
	background-color: #ff9900;
	/*background-color:rgb(255, 180, 51);*/
	color: #000;
}
#hypothec-section h2 {
	color: #000;
}


#hypothec-section p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.section-title h2, .section-title.center h2 {
	/*font-size: 40px;*/
	font-weight: 300;
	margin-bottom: 20px;
	color: #000;
}



/* Features Section */
#features-section {
	padding: 100px 0;
	background-color: #fff;
}

#features-section h2{
	color: #ff9900;
}

#features-section span{
	color: #ff9900;
	font-weight: bold;
}
.space {
	margin-top: 40px;
}

ul {
		list-style-type: square;
}

li {
	margin-left: 50px;
}


/* Conditions Section */
#conditions-section {
	padding: 100px 0;
	background-color: #ff9900;

}
#conditions-section h2 {
	color: #000;
}

#condition {
	padding: 30px 0;
}

#conditions-section table, th{
	text-align: center;
}

#conditions-section .table-left{
	text-align: left;
}

#conditions-section .table-left span{
	font-weight: bold;
}

#conditions-section .table-red{
	color: red;
	font-weight: bold;
}

/*Строка при hover:*/
.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #99ccff;
}

/*Цвет границы: */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #330000; 
}


/* Interaction Section */
#interaction-section {
	padding: 100px 0;
	background-color: #fff;
	color: #333;
}
#interaction-section h2 {
	color: #ff9900;
}

#interaction-section i {
	float: left;
	display: block;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 30px;
	color: #ff9900;
	font-size: 40px;
}
#interaction-section p {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #333333;
}


/* Resources Section */
#resources-section {
	padding: 100px 0;
	background-color: #ff9900;
}

/* Contact Section */
#contact-section {
	padding: 100px 0;
    /*background-color: #eff1f1;*/
    background-color: #fff;
}

#contact-section p{
	color: #000;
}

#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
#contact-section i.fa { /*иконки в контактах*/
	color: #ff9900;
	margin-right: 20px;
}

/* Social Section */
#social-section {
	padding: 30px 0;
	background-color: #000033;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#social-section .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #f4f5f6;
	transition: all 0.5s;
}
#social-section .social i.fa:hover { /*цвет по умолчанию*/
	color: #ffcc66;
}
#social-section .social i.fa-vk:hover {
	color: #4c75a3;
}
#social-section .social i.fa-odnoklassniki:hover {
	color: #f97700;
}
#social-section .social i.fa-facebook:hover {
	color: #3b5998;
}
#social-section .social i.fa-instagram:hover {
	color: #ac8269;
}
#social-section .social i.fa-twitter:hover {
	color: #57afe5;
}


/* Footer */
#footer {
	background-color: #222222;
	color: #ddd;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
	color: #666;
}


a:hover, a:focus {
	text-decoration: none;
	color: #00ccff;
}


/*Button up*/
.btn_up{
  text-align:center;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 5%;
}
.btn_up img{
  width: 60px;
 }
