body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
	font-size: 16px;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	font-size: 35px;
	line-height: 20px;
	margin: 0;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	line-height: 24px;
	/*font-size: 14px;*/
}
a {
	color: #999;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fff;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}

/* Navigation */
#menu {
	padding: 0px;
	/*transition: all 0.8s;*/
}
#menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0); прозрачный*/
	background-color: #000;
	border-color: rgba(231, 231, 231, 0);
	/*border-color: rgba(0, 0, 0, 0);*/

}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ff9900;
	font-weight: 700;
}
#menu a.navbar-brand i.fa {
	color: #88bb45;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #878d8f;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
.on {
	background-color: #000 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #33ffcc;
	border-color: #1fb9b1;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.nav > li > a {
    position: relative;
    display: block;
     padding: 15px 0; 
}

nav li {
	margin-left: 50px;
}

/* Home Style */
header {
	background: url(../img/header-bg.jpg) no-repeat top center;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}

.slogan{
	color: #ff9900;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 7.5%;
    position: relative;
    width: 350px;
}

.intro-text {
	font-size: 23px;
    /*margin-left: 8%;*/
	position: relative;
	padding-top: 540px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
    text-align: left;
}

.intro-text p {
	color: #fff;
	line-height: 48px;
	/*background-color: rgba(0,51,102,0.8);*/
	background-color: rgba(0,0,0,0.8);
	
	display: inline-block;
    padding: 0 4px;
 	border-radius : 5px;
 	width:100%;
 	padding-top: 100px;
 	padding-bottom: 100px;
 	margin-bottom: -1px;
 	padding-left: 8%;

}



/*.intro-text H1 {
	font-size: 50px;
	color: #222;
	font-weight: 300;
}*/
/*.h1-color {
	color: #ff9900; 
	font-weight: 700;
	text-shadow: 5px 0 5px #333;
}*/
.btn-default {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.8);
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #86E2D5;
	color: #fff;
}


/* Features Section */
#features-section {
	padding: 100px 0;
	background-color: #fff;
}

#features-section h2{
	color: #ff9900;
}

#features-section p{
	text-align: justify;
}


#features-section p span{
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}

ul {
		list-style-type: square;
}

#features-section li {
	margin-left: 50px;
}


/* Conditions Section */
#conditions-section {
	padding: 100px 0;
	background-color: #ffcc66;
}
#conditions-section h2 {
	color: #000;
}

#condition {
	padding: 30px 0;
}

#conditions-section table, th, .table-center{
	text-align: center;
}

#conditions-section .table-left{
	text-align: left;
}

#conditions-section span{
	font-weight: bold;
}


/*Строка при hover:*/
.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #99ccff;
}

/*Цвет границы: */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #330000; 
}

/*.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 0;
}*/


/* Interaction Section */
#interaction-section {
	padding: 100px 0;
	background-color: #fff;
	color: #333;
}
#interaction-section h2 {
	color: #ff9900;
}

#interaction-section i {
	float: left;
	display: block;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 30px;
	color: #ff9900;
	font-size: 40px;
}
#interaction-section p {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #333333;
}

#interaction-section li {
	margin-left: 110px;
}

#interaction-section .fa-balance-scale {
	height: 40px;
	width: 40px;
}
/* Contact Section */
#contact-section {
	padding: 100px 0;
    /*background-color: #eff1f1;*/
    background-color: #ffcc66;
}

#contact-section p{
	color: #000;
}

#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
#contact-section i.fa { /*иконки в контактах*/
	color: #ff9900;
	margin-right: 20px;
}

/* Social Section */
 .social {
	text-align: center;
}

.social-ico img{
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 22px;
}

.vk-ico img{
    margin-left: 0;
}

.social-ico img:hover {
   opacity: 0.7;
}

/* Footer */
#footer {
	background-color: #222222;
	color: #ddd;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
	color: #666;
}


a:hover, a:focus {
	text-decoration: none;
	color: #00ccff;
}


/*Button up*/
.btn_up{
  text-align:center;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 5%;
}
.btn_up img{
  width: 60px;
 }
